
#btnAgency{
	-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 24.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;
}

AnchorPane{
	-fx-background-color: #ffffff;
}

#btnLogout{
	-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 15.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;

}

#btnMember{
	-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 18.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;


}

#btnStuff{
	-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 18.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;
		
}


#btnNotice{-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 18.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;
		
}
		
#btnInfo{
	-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 18.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;	

}
#btnKnow{
-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 18.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;
		
}
