#btnAgency{
	-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 24.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;
}

AnchorPane{
	-fx-background-color: #ffffff;
}

#search{
	-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 15.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;
}

#memberModi{
	-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 15.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;
}

#blacklist{
	-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 15.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;
}

#home{
	-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 15.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;
}
#btnAddSerach{
	-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 18.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;
}
#btnemailCon{
	-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 18.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;
}
#btnnumCom{
	-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 18.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;
}

#btnModify{
	-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 18.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;
}


#btnDelete{
	-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 18.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;
}

#btnhome{
	-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 18.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;
	
}

#Search{
	-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 15.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;
}
#ok{
	-fx-font-family : "NanumGothicExtraBold";
	-fx-font-size : 15.0px;
	-fx-background-color: #424242;
	-fx-text-fill : #ffffff;
	
}

